<div class="panal-body">
    <!--<div class="panal-category">
        <span>{{article.label1}}</span>,<span>{{article.label2}}</span>,<span>{{article.label3}}</span>,<span>html5</span>
    </div>-->
    <div class="panal-title">文章标题</div>
    <div class="panal-meta">
        By:<span>沧苑</span>|<i class="fa fa-commenting"></i><span>2016-07-28</span>
    </div>
    <div class="panal-content">
        <p>
            文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
        </p>
        <p>
            文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
        </p>
    </div>
    <div class="article-bottom">
        <div class="pull-left">
            <b>标签：</b><span>css</span>、<span>html</span>
        </div>
        <div class="pull-right">
            <b>分类：</b><span>css</span>、<span>html</span>
        </div>
    </div>
    <comments></comments>
</div>