<div class="contact-main">
    <div class="title-about">
        <h3>关于沧苑</h3>
        <p>By<span>沧苑</span>|&nbsp;2016-07-28</p>
    </div>
    <div class="content">
        <img class="about-pic" src="imgs/logo.jpg">
        <p><b>博主</b>：<b>沧苑</b></p>
        <p><b>生日</b>：<span>1987、6</span></p>
        <p><b>职业</b>：<span>前端工程师</span></p>
        <p><b>简历/个人网站</b>：<a href="/about">点击查看</a></p>
        <p><b>个人愿望</b>：</p>
        <p>希望通过这个博客可以广交天下志同道合的朋友，一同交流技术等方面遇到的问题及经验。</p>
        <p><b>联系方式</b>：</p>
        <p><span class="info-link">QQ</span>：<span>1339918746</span></p>
        <p><span class="info-link">Email</span>：<span>1339918746@qq.com</span></p>
        <p><span class="info-link">新浪微博</span>：<span><a>沧苑</a></span></p>
    </div>
    <comments></comments>

    <share></share>
</div>
