<header>
    <canvas></canvas>
    <div class="container hearder-main">
        <section class="pull-left">
            <div class="foo">沧苑</div>
        </section>
        <nav ng-transclude class="pull-right">
        </nav>
    </div>

</header>