<!DOCTYPE html>
<html>
<head>
    <title><%-title%></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Font-Awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="/angularJS/angular.min.js"></script>
    <script src="/angularJS/ui-route.js"></script>
    <script src="js/directive.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">
<!-- header start-->
<header>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <section class="pull-left hearder-left">
        <div class="foo"><a href="/">沧苑</a></div>
    </section>
    <div class="pull-right header-right">
        <ul>
            <li><a ui-sref="home"><%=user.name%></a></li>
            <li><a>短消息</a></li>
            <li><a>修改密码</a></li>
            <li><a href="/logout">退出</a></li>
        </ul>
    </div>
    <nav class="admin-nav">
        <ul>
            <li><a ng-click="navChange(1)" ng-class="{'navActive':win==1}" ui-sref="post">我的文章</a></li>
            <li><a ng-click="navChange(2)" ng-class="{'navActive':win==2}"  ui-sref="comment">我的评论</a></li>
        </ul>
    </nav>

</header>
<!-- header end-->
<div id="admin-main" ui-view="">

</div>
<footer>

</footer>
<script>
   var app=angular.module('myApp', ['ui.router','blog_directive','ctr_all']);
    app.config(function($stateProvider, $urlRouterProvider) {
        $urlRouterProvider.otherwise("/post");
        $stateProvider
                .state('post', {
                    url:"/post",
                    views: {
                        '': {
                            templateUrl: "tpls/admin/post.ejs"
                        },
                        'adleft@post': {
                            templateUrl: "tpls/admin/adleft.ejs"
                        },
                        'adright@post': {
                            templateUrl: "tpls/admin/adright.ejs",
                            controller:"adrcontroller"
                        }
                    },
                    cache:'false',

                    abstract: false,
                    controller: function($scope) {
                        $scope.win=1;
                    }

                })
                .state('post.write', {
                    url:"/write",
                    cache:'false',
                    views:{
                        'adright@post':{
                            templateUrl: "tpls/admin/write.ejs",
                            controller:"wrController"
                        }
                    }

                })
                .state('comment', {
                    url:"/comment",
                    views:{
                        '':{
                            templateUrl: "tpls/admin/comment.ejs"
                        },
                        'commleft@comment':{
                            templateUrl: "tpls/admin/commleft.ejs"
                        },
                        'commright@comment':{
                            templateUrl: "tpls/admin/commright.ejs",
                            controller:"comrcontroller"

                            }
                        }
                    })
                .state('contact', {
                    url:"/contact",
                    templateUrl: 'tpls/contact.ejs',
                    controller: function($scope) {
                        $scope.win=4;

                    }
                })
                .state('detail', {
                    url:"/detail",
                    templateUrl: 'tpls/detail.ejs'

                })
    });


</script>
</body>
</html>
