<!DOCTYPE html>
<html>
<head>
	<title><%-title%></title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/Font-Awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/public.css">
	<link rel="stylesheet" href="/css/blog-home.css">

	<script src="/js/jquery-1.11.2.min.js"></script>
	<script src="/angularJS/angular.min.js"></script>
<style>
	.home-login-top{
		height: 30px;
		line-height: 30px;
		background-size: 30px 30px;
		text-indent: 40px;
		letter-spacing: 2px;
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 3%
	}
	.submitBtn a{
		margin-left: 4%;
		line-height: 30px;
	}
	.form-group{
		margin-top: 5%;
	}
	</style>
</head>
<body>
	<header-top></header-top>
	<div class="main-middle"  ng-hide="a">
		<div class="home-login-top">
		欢迎登录
		</div>
		<form method="post" class="form-horizontal">
		  <div class="form-group">
		    <label for="username" class="col-sm-3 control-label">用户名：</label>
		    <div class="col-sm-5">
		      <input type="text" class="form-control" name="username" id="username" placeholder="请输入用户名">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="password" class="col-sm-3 control-label">密 码：</label>
		    <div class="col-sm-5">
		      <input type="password" class="form-control" name="password" id="password" placeholder="请输入密码">
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-3 col-sm-10">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox"> 记住我
		        </label>
		      </div>
		    </div>
		  </div>
		  <div class="form-group submitBtn">
		    <div class="col-sm-offset-3 col-sm-10">
		      <button type="submit" class="btn btn-success col-sm-4" onClick="postData(this);return false">登&nbsp;&nbsp;&nbsp;录</button><a  href="/register">注册</a><a href="/password-back">？忘记密码</a>
		      <!--<button type="submit" class="btn btn-success col-sm-4">登&nbsp;&nbsp;&nbsp;录</button><a  href="/register">注册</a><a href="/password-back">？忘记密码</a>-->
		    </div>
		  </div>
		</form>
	</div>
<script>
	function postData (_this){
		$.post('/login', {
			username: $('#username').val(),
			password: $('#password').val()
		}, function (data){
			$('#content').html(data.msg);
			//$('#msg-box').modal('show');
			console.log(data);
			if(data.status){
				window.location.href = '/admin';
			}

		});

	}


</script>

</body>
</html>