 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%-title%></title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/Font-Awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/public.css">
	<script src="/angularJS/angular.min.js"></script>
	<style>
	.main-middle .tittle-top span{
		color: #ff0000;
		font-size: 16px;
		letter-spacing: 2px;
	}
	.form-group{
		margin-top: 4%;
	} 
	.submitBtn a{
		margin-left: 4%;
		line-height: 30px;
	}
	</style>
</head>
<body ng-app="myApp" ng-controller="mycontroller">
	<header-top></header-top>
	<div class="main-middle ">
		<div class="tittle-top">
			
			找回密码<a href="home-login.html"><span>请登录</span></a>
			
		</div>
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="inputPhoneUser" class="col-sm-3 control-label">手机号：</label>
		    <div class="col-sm-5">
		      <input type="phone" class="form-control" id="inputPhoneUser" placeholder="请输入手机号">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputUserPassword" class="col-sm-3 control-label">新密码：</label>
		    <div class="col-sm-5">
		      <input type="password" class="form-control" id="inputUserPassword" placeholder="请输入密码">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputAgainPassword" class="col-sm-3 control-label">确认密码：</label>
		    <div class="col-sm-5">
		      <input type="password" class="form-control" id="inputAgainPassword" placeholder="确认密码">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="phoneBack" class="col-sm-3 control-label">手机短信验证码：</label>
		    <div class="col-sm-3">
		      <input type="text" class="form-control" id="phoneBack" placeholder="">
				
		    </div>
		    <button class="btn btn-primary col-sm-2">获取短信验证码</button>
		  </div>
		  <div class="form-group submitBtn">
		    <div class="col-sm-offset-3 col-sm-10">
		      <button type="submit" class="btn btn-success col-sm-4">找回密码</button>
		      <a href="home- register.html">注册</a>
		    </div>
		  </div>
		</form>
	</div>
	<script>
		var app=angular.module('myApp', ['blog_directive']);
		app.controller('mycontroller',function($scope){
			$scope.win=1;
			$scope.navChange=function(index){
				$scope.win=index;
			}
		})
	</script>
	<script src="js/directive.js"></script>
</body>
</html>