<div class="operate">
    <h4>操作</h4>
    <ul>
        <li><a ui-sref=".write">添加新文章</a></li>
        <li><a>草稿箱</a></li>
    </ul>
</div>
<div class="operate" >
    <h4>分类</h4>
    <ul>
        <li><a>编辑分类</a></li>
        <li><a>所有分类</a></li>
        <li><a>其他</a></li>
    </ul>
</div>
<div class="operate">
    <h4>标签</h4>
    <ul>
        <li><a>编辑标签</a></li>
        <li><a>所有标签</a></li>
    </ul>
</div>